@forward '../../commons/sass/theme/dorothy_variables';

// Theme
$indigo: #051e59;
$cristal: #d6e6f8;
$anil: #2d8bba;
$amarelo: #faad23; //amarelo da paleta MonitoraEA-KV
$verde: #409a4d; //verde da paleta 
$azul: #3c6dbc; //azul da paleta 
$chumbo: #070707; //cor da letra - chumbo da paleta 
$disabled: #737373;

$primary: $indigo;
$secondary: $anil;

/* Custom */
$chart1: #326AB8;
$chart2: #4A944C;
$chart3: #F8801F;
$chart4: #CD852B;
$chart5: #A18A36;
$chart6: #95756C;
$chart7: #77A439;
$chart8: #A3B426;
$chart9: #CDAD29;
$chart10: #F7A52C;

$gradient: linear-gradient(90deg, rgba($primary, 0) 0%, rgba($primary, 0.05) 100%);