@import '../../../sass/_variables.scss';

.visualizations-tabs {
  min-height: 3rem;
  margin-bottom: 1rem;
  position: sticky;
  top: 1rem;
  z-index: 99;

  .backdrop {
    content: "";
    position: absolute;
    // width: calc(100vw - .75rem);
    height: 5rem;
    top: -1rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: $white;
    z-index: -1;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(90deg, rgba($primary, 0) 0%, rgba($primary, 0.05) 100%);
    }
  }

  .vtabs-content {
    background: $white;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    box-shadow: $shadow;

    .vtabs-tabs {
      :global {
        .MuiTab-root {
          font-size: .875rem;
          color: $gray;
          text-transform: unset;

          &.Mui-selected {
            font-weight: bold;
          }
        }
      }

      :global {
        .MuiTabs-indicator {
          background: $secondary;
          height: .125rem;
        }
      }
    }

    .vtabs-actions {
      display: flex;
      padding: .5rem 1rem;
      align-items: center;
      width: 100%;
      // justify-content: space-between;

      .vtabs-eachfilter {
        display: flex;
        margin: 0 5px
      }

      .divisor {
        height: 100%;
        width: 1px;
        background-color: $light-gray;
        margin: 0 1rem;
      }

      .cleanfilters {
        cursor: pointer;
        background: transparent;
        display: flex;
        color: $gray;
        border: 0;
        font-size: .875rem;
        align-items: center;
        transition: .25s ease;

        svg {
          height: .875rem;
          margin-right: .25rem;
        }

        &:hover {
          opacity: .5;
        }
      }
    }
  }
}

// warning: this class is child of vtab-actions, but have to be outside in order to work as a children of mobile component
.vtabs-datefilter {
  font-size: .875rem;
  display: flex;
  align-items: center;
  cursor: pointer;

  label {
    margin-right: .5rem;
    font-weight: 600;
  }

  .vtabs-datefilter-button {
    display: flex;
    background: rgba($primary, .05);
    padding: .5rem 1rem;
    align-items: center;
    border-radius: 0.5rem !important;
    line-height: 1.5rem;

    svg {
      height: .875rem;
      margin-right: .25rem;
      stroke: $gray;
    }

    &.disabled {
      cursor: default;
      color: #999;
      svg{
        stroke: #999;
      }
    }
  }
}

.vtabs-other {
  font-size: .875rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;

  label {
    margin-right: .5rem;
    font-weight: 600;
  }
}

.vtabs-datefilter-popover {

  :global {
    .MuiPaper-root {
      width: 10rem;
      transform: translate(-50%, .5rem) !important;
      padding: 1rem;
      border-radius: .25rem;
      box-shadow: $shadow;
      display: flex;
      flex-direction: column;
      align-items: center;

      .vtabs-datefilter-popover-input {
        background: rgba($primary, .05);
        padding: .5rem;
        font-size: .875rem;
        line-height: 1rem;
        margin-bottom: .5rem;
      }

      button {
        margin-top: .5rem;
      }
    }
  }
}

.vSeparator {
  border-left: 2px solid $primary;
  height: 1.5rem;
  margin: 0 8px;
}