@use '../../sass/theme/app_variables' as *;
$delete: #A70D11;
$delete_alt: #F9C623;

.error {
    color: red;
    margin: 0 0.5rem;
}

.done {
    color: green;
    margin: 0 0.5rem;
}

.indic {
    cursor: pointer;
}

.selected {
    text-decoration: underline;
}

.field {
    width: 100%;

    .title_box {
        display: flex;
        gap: .25rem;
        margin-bottom: .5rem;
        align-items: center;

        >div {
            display: flex;
            align-self: center;
        }
    }

    svg {
        height: 1.25rem;
        width: unset;
    }
}


.tree {
    max-height: 60vh;
    overflow: auto;

    ul,
    li,
    ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .li_lae_titles {
        cursor: pointer;
        font-size: 1rem;

        .show {
            display: block;
            border-left: 1px solid $light_gray;
            margin-left: 1rem;
            margin-bottom: 1rem;
            animation: fade_in_show .1s ease-in-out both;

            @keyframes fade_in_show {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }

        .hide {
            display: none;
        }

        .li_indicators {
            cursor: pointer;
            font-size: 0.875rem;
        }

        .item-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: stretch;
            margin: .5rem 0;

            &.strong {
                font-weight: 700;
            }

            >div {
                display: flex;
                align-self: center;
            }

            svg {
                height: 1rem;
                width: unset;
            }

        }
    }
}

.indic-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    .title_box {
        display: flex;
        margin-right: 0.5rem;
        color: $gray;

        svg {
            height: 1.25rem;
            width: auto;
        }
    }

    .actions {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.5rem;
    }

}

.helpbox_button {
    height: 100%;

    >svg {
        margin: 0;
    }
}

.button_delete {
    padding: 0 1rem;
    height: 2rem;
    border: 1px solid $delete;
    border-radius: 1rem;
    font-size: .875rem;
    font-weight: 500;
    box-sizing: border-box;
    background: $delete;
    color: $white;
    cursor: pointer;
    font-family: $font-family;
    transition: .5s ease;
    display: flex;
    align-items: center;
  
    svg {
      height: 1rem;
      margin-right: .25rem;
      margin-left: -0.25rem;
    }
  
    &:hover {
      background: $delete_alt;
      border: 1px solid $delete_alt;
  
      svg {
        animation: Roll .5s ease forwards;
      }
    }
  
    @keyframes Roll {
      0% {
        transform: rotate(0);
      }
  
      0% {
        transform: rotate(-360deg);
      }
    }
  }