.vcentered {
    display: flex;
    align-items: center;
}

.add, .remove {
    padding: 0 1rem;
    height: 2rem;
    border: 1px solid #bbb;
    border-radius: 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    box-sizing: border-box;
    background: transparent;
    color: #bbb;
    cursor: pointer;
    font-family: "Raleway", sans-serif !important;
    transition: 0.5s ease;
    display: flex;
    align-items: center;

    svg {
        height: 1rem;
    }

    &:hover {
        color: #666;
        /* border: 1px solid #666; */
    }
}

.timeline {
    /* display: grid; */

    .highlight {
        background-color: #eff8e9;
        transition: background-color 0.5s ease;
    }

    .each {
        display: grid;
        grid-template-columns: 4fr 120px 32fr 4fr;
        /* column-gap: 15px; */

        div {
            display: flex;
            align-items: center;
        }

        .date {
            font-weight: 600;
        }

        .thumb {

            background: linear-gradient(#5d9f38, #5d9f38) no-repeat center/4px 100%;
            padding: 10px 0;

            .thumb-image {
                width: 120px;
                height: 120px;
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                border: solid 4px #5d9f38;
                background-color: #fff;

                img {
                    display: inline;
                    margin: 0 auto;
                    height: 100%;
                    width: auto;
                }
            }
        }

        .text {
            text-align: justify;
            padding: 5px 25px;
        }
    }
}