.vcentered {
    display: flex;
    align-items: center;
}

.add,
.action {
    padding: 0 1rem;
    height: 2rem;
    border: 1px solid #bbb;
    border-radius: 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    box-sizing: border-box;
    background: transparent;    
    cursor: pointer;
    font-family: "Raleway", sans-serif !important;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    color: #666;

    svg {
        height: 1rem;
    }

    &:disabled {
        color: #bbb;
        cursor: default;
    }
}

.timeline {
    /* display: grid; */

    .highlight {
        background-color: #eff8e9;
        transition: background-color 0.5s ease;
    }

    .each {
        display: grid;
        grid-template-columns: 4fr 120px 32fr 4fr;
        /* column-gap: 15px; */

        div {
            display: flex;
            align-items: center;
        }

        .date {
            background: linear-gradient(180deg,
                    rgba(0, 0, 0, 0) calc(50% - 2px),
                    #5d9f38 calc(50%),
                    rgba(0, 0, 0, 0) calc(50% + 3px));
            .text {
                font-weight: 800;
                background-color: #fff;
                padding: 0 5px 0 0;
                color: #5d9f38;
            }
        }

        .thumb {

            background: linear-gradient(#5d9f38, #5d9f38) no-repeat center/4px 100%;
            padding: 10px 0;

            .thumb-image {
                width: 120px;
                height: 120px;
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                border: solid 4px #5d9f38;
                background-color: #fff;

                img {
                    display: inline;
                    margin: 0 auto;
                    height: 100%;
                    width: auto;
                }
            }
        }

        .text {
            text-align: justify;
            padding: 5px 25px;
        }

        .buttons {
            display: flex;
            gap: 5px;
        }
    }
}

.editing {
    padding: 10px 5px;
    border: solid 2px #5d9f38;
    border-radius: 10px;
}

.edit-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}