.row_indicacao {
    position: relative;

    display: flex;
    justify-content: space-between;

    margin: 20px 0;
    padding: 4px 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    border: dashed 1px #ccc;

    border-left: solid 4px #999;

    .title {
        font-weight: 600;
        font-size: 0.7rem;

        position: absolute;
        top: -9px;
        background-color: #fff;
        margin: 0;
        padding: 0 5px;
        border: solid 1px #ccc;
        border-radius: 3px;
    }
    .title.oferece {
        background-color: #999;
        color: #fff;
    }

    &:nth-child(odd) {
        background-color: #fff;
    }

    &:nth-child(even) {
        background-color: #f6f6f6;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: start;
        padding-top: 15px;

        .line {
            display: flex;
            gap: 10px;

            .label {
                display: flex;
                justify-content: center;
                font-weight: bold;
                font-size: 0.8rem;
                background-color: #ddd;
                padding: 1px 3px;
                border-radius: 5px;
                width: 100px;
            }
        }
    }

    .reconheco {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        width: 55%;
        border-left: solid 1px #999;
        padding-left: 10px;

        .resposta {
            width: 200px;
        }
    }

    .justificativa {
        margin-top: 15px;
    }
}