@import '../../app';

.loop {
  display: flex;
  column-gap: 2rem;
  margin: 1rem 0;
  flex-wrap: wrap;
  row-gap: 2rem;
  
  a {
    width: calc(25% - 1.5rem);

    .loop-item {
      display: flex;
      position: relative;
      color: $white;
      width: 100%;
      height: 0;
      padding-bottom: 75%;
      border-radius: $border-radius-medium;
      overflow: hidden;

      &:hover {
        img {
          transform: scale(1.05);
        } 
      }
  
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .5s ease;
      }
      .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        display: block;
        background: linear-gradient(transparent, $black);
        opacity: 1;
      }
      .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
        box-sizing: border-box;
        flex-direction: column;
        row-gap: .25rem;
        align-items: flex-start;
        
  
        .title {
          font-weight: 600;
          font-size: .875rem;      
        }
        .views {
          font-size: .875rem;
          height: 1rem;
          line-height: 1rem;
        }

        .tag {
          font-size: 12px;
          height: 1rem;
          border-radius: $border-radius-small;
          padding: 0 .5rem;
          text-transform: uppercase;
          line-height: 1rem;


          &.ppea {
            background-color: $orange-1;
          }
          &.pppzcm {
            background-color: $blue-1;
          }
        }
      }
  
    }
  
  }
}

@media screen and (max-width: 991px) {
  .loop {
    flex-direction: column;
    row-gap: 1rem;

    a {
      width: 100%;
    }
  }
}
