@import '../../app';

.loop-facilitadores {
  display: flex;
  column-gap: 2rem;
  margin: 1rem 0;
  flex-wrap: wrap;
  row-gap: 2rem;
  

  .loop-item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(25% - 1.5rem);
    border-radius: $border-radius-medium;
    box-shadow: $shadow-1;
    box-sizing: border-box;

    .header {
      padding: 1rem 2rem;

      .profile-pic {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        overflow: hidden;
        position: relative;
        border-radius: $border-radius-full;
  
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: .5s ease;
        }
      }
    }

    .content {
      display: flex;
      padding: 1rem;
      box-sizing: border-box;
      flex-direction: column;
      row-gap: .5rem;

      .name {
        font-weight: 700;
        color: $black;
      }
      .desc {
        color: $gray-1;
        font-size: 12px;
      }
      .list {
        padding: 0;
        list-style: none;
        margin: 0;

        .list-item {
          display: flex;
          column-gap: .5rem;
          align-items: center;

          &:not(:last-child) {
            margin-bottom: .25rem;
          }

          .icon {
            display: flex;
            align-items: center;

            svg {
              height: .875rem;
            }
          }

          .value {
            font-size: 12px;
            color: $black;
          }
        }
      }
    }

  }
  
  &.simple {
    .loop-item {
      .content {
        text-align: center;

        .desc {
          display: none;
        }
        .list {
          .list-item {
            justify-content: center;
            &:nth-child(1),&:nth-child(3),&:nth-child(4) {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .loop-facilitadores {
    column-gap: 1rem;
    row-gap: 1rem;

    .loop-item {
      width: calc(50% - .5rem);
    }
  }
}

@media screen and (max-width: 767px) {
  .loop-facilitadores {
    flex-direction: column;

    .loop-item {
      width: 100%;
    }
  }
}
