.similarList {
  overflow-y: auto;
  padding: 20px;

  .similarListItem {
    cursor: pointer;
  }

  .similarListItem:nth-child(odd) {
    background-color: rgba(167, 13, 17, 0.05);
  }
}

.name_similarity_box {
  margin-top: 1rem;

  :global(.MuiPaper-root) {
    margin: 0 1rem;
  }
}

.similares {
  padding: 20px;
}

.select_level {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 10px;
}

.similar_orgs {
  display: flex;

  .org_id {
    min-width: 70px;
  }

  .org_name {
    font-weight: 500;
  }
}
