@import '../../app';


.nav {
  display: flex;
  padding: 0 2rem;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  font-family: 'Raleway';
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: $white;
  box-shadow: $shadow-1;

  .brand {
    img {
      height: 32px;
    }
  }
  .menu {
    display: flex;
    list-style: none;
    padding: 0;

    .menu-item {
      position: relative;
      font-weight: 600;
      
      a, .contact {
        padding: 0 1rem;
        text-decoration: none;
        color: $green-1;
        cursor: pointer;
      }

      &:hover {
        > a {
          color: $yellow-1;
        }

        .sub-menu {
          height: auto;
          padding: .5rem 0;
        }
      }
    }
    .sub-menu {
      position: absolute;
      list-style: none;
      padding: 0;
      transform: translate(-50%, calc(100% + 0.5rem));
      left: 50%;
      bottom: 0;
      background: $white;
      box-shadow: $shadow-1;
      border-radius: $border-radius-medium;
      height: 0;
      transition: .25s ease;
      overflow: hidden;

      .sub-menu-item {
        display: flex;
        text-wrap: nowrap;
        padding: .5rem 0;

        a {
          padding: 0 1rem;
        }
        
        &:hover {
          > a {
            color: $yellow-1;
          }
        }
      }
    }
  }
  .access {
    display: flex;
    align-items: center;

    .access-item {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
  .mobile-toggle {
    transition: .25s ease;
    cursor: pointer;
    
    &:hover {
      opacity: .5;
    }

    svg {
      height: 2rem;
      width: 2rem;

      path, line, rect, circle {
        stroke: $black;
      }
    }
  }

}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: $white;
  padding: 3rem 2rem;
  z-index: 999;
  box-sizing: border-box;
  transform: translate(100%,0);
  transition: .5s ease;
  display: flex;


  &.open {
    transform: translate(0,0);
  }
  .menu {
    display: flex;
    list-style: none;
    padding: 0;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    margin: auto;

    .menu-item {
      position: relative;
      font-weight: 600;
      text-align: center;
      
      a {
        padding: 0 1rem;
        text-decoration: none;
        color: $green-1;
      }

      &:hover {
        > a {
          color: $yellow-1;
        }

      }
    }
    .sub-menu {
      list-style: none;
      padding: 0;
      border-radius: $border-radius-medium;
      display: flex;
      flex-direction: column;
      row-gap: .5rem;
      align-items: center;
      margin-top: -1rem;
      margin-bottom: -.5rem;

      .menu-item {
        padding: .5rem 0;
        font-weight: 400;

        a {
          padding: 0 1rem;
        }
        
        &:hover {
          > a {
            color: $yellow-1;
          }
        }
      }
    }
  }
  .close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    transition: .25s ease;
    cursor: pointer;

    &:hover {
      opacity: .5;
    }

    svg {
      height: 2rem;
      width: 2rem;

      path, line, rect, circle {
        stroke: $black;
      }
    }
  }
}