.modalBackground {
  top:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, .6);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.modalContainer {
  width: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.modalContainer .header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
  margin-bottom: 10px;
  padding: 10px 0;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.modalContainer .footer {
  display: flex;
  border-top: solid 1px #eee;
  margin-top: 10px;
  
  justify-content: right;
  gap: 10px;
}

.modalContainer .footer button {
  width: 150px;
  height: 25px;
  margin: 10px 0;
  border: none;
  background-color: #599559;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.modalContainer .footer button.cancel {
  border: solid 1px #aaa;
  background: none;
  color: #000;
}

#cancelBtn {
  background-color: crimson;
}
