@use '../../sass/theme/app_variables' as *;
;

.svg-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;

    div {
        display: flex;
        margin-right: .5rem;
        cursor: pointer;
        transition: .25s ease;

        svg {
            height: 1.4rem;
            stroke: $gray;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            opacity: .5;
        }
    }
}

.title {
    display: flex;
}

.error {
    color: red;
}

.new_line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}