@import '../../app';

.slider {
  height: 400px;
  width: 100%;
  font-family: 'Raleway';
  position: relative;

  .slide {
    position: relative;
    width: 100%;
    height: 100%;

    .slide-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .25s ease;
    }
    .slide-backdrop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
      display: block;
      background: linear-gradient(transparent, $black);
      opacity: .8;
    }
    .slide-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      box-sizing: border-box;
      flex-direction: column;
      row-gap: 2rem;

      .slide-title {
        color: $white;
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
        transition: .25s ease;
      }
    }
  }

  .banner-navigation {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 9;
    display: flex;
    column-gap: 1rem;

    .banner-nav-item {
      width: .5rem;
      height: .5rem;
      border-radius: $border-radius-full;
      border: 1px solid $white;
      transition: .25s ease;
      cursor: pointer;

      &.active {
        background: $white;
      }
    }
  }
}
