.mainDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .actions {
        display: flex;
        flex-direction: column;

        button {
            margin-bottom: 5px;
        }
    }
}