@use '../../sass/theme/app_variables' as *;

.header-buttons {
  display: flex;
}

.contents {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.image_uploader {
  padding: 1rem 0;
  width: 12rem;
}

.images_box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1rem;

  .image_container {
    display: flex;
    flex-flow: column;
    position: relative;

    .image_content {
      display: flex;
      justify-content: center;
      overflow: hidden;
      width: 10rem;
      height: 10rem;

      .image {
        width: auto;
        height: 100%;
        object-fit: cover;
        transition: transform .2s;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          transform-origin: 50% 50%;
        }
      }
    }

    .actions {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      position: absolute;
      right: 0;
      bottom: 5px;

      .action_icons {
        svg {
          height: 1.5rem;
          width: auto;
        }
      }
    }

  }
}

.helpbox_type_radio_group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1rem;
}

:global(.image-style-align-left) {
  float: left;
}

:global(.image-style-align-right) {
  float: right;
}

.helpbox_indicator_tree {
  padding: 0;
  margin: 0;

  span {
    cursor: pointer;
  }

  .lae {
    display: flex;
    flex-flow: column nowrap;
    padding: 0.5rem;

    .indic {
      display: flex;
      flex-flow: column wrap;
      margin: 0.5rem 1rem;

      .questions {
        flex-flow: row wrap;
        padding: 0 0.5rem 0.5rem;
        margin-left: 1rem;
      }
    }
  }

  .indic_to_select {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    margin-left: 1rem;

    span {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }

  ul,
  li,
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: $light-gray;

  }
}

.indicator_description {
  display: flex;
  align-items: center;
  height: 100%;
}

.editor-wrapper {
  max-width: 991px;
  margin: 0 auto;
}