@use '../../sass/theme/app_variables' as *;

// Navbar 
.navbar {
  background-color: $primary;
  box-shadow: $shadow-1;
  padding: .75rem 3rem;
  display: flex;
  justify-content: space-between;
  user-select: none;
  position: sticky;
  z-index: 999;

  .nav-start {
    display: flex;
    align-items: center;

    .nav-logo {
      margin-right: 1rem;
      height: 50px;
    }
  }

  .nav-center {
    .nav-menu {
      display: flex;
      height: 100%;

      .nav-menu-item {
        position: relative;
        justify-content: center;
        padding: 0 1rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;

        .nav-menu-icon {
          display: flex;
          align-items: center;

          svg {
            height: 1.25rem;
            width: unset;
            transition: .25s ease;
            stroke: $gray;
          }
        }

        .nav-menu-title {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, .5rem);
          opacity: 1;
          white-space: nowrap;
          font-size: .875rem;
          font-weight: 600;
          color: $gray;
          transition: .25s ease;
          pointer-events: none;
        }

        &:hover {
          .nav-menu-title {
            opacity: 1 !important;
          }
        }

        &.active {
          .nav-menu-icon {
            svg {
              stroke: $primary;
            }
          }

          .nav-menu-title {
            opacity: 1;
            color: $primary;
            font-weight: 700;
          }

          &:hover {
            cursor: default;
          }
        }
      }

      &:hover {
        .nav-menu-item {
          &.active {
            .nav-menu-title {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  .nav-end {
    display: flex;
    align-items: center;
  }
}

.nav-roleselector {
  .nav-roleselector-btn {
    user-select: none;
    display: flex;
    align-items: center;
    color: $gray;
    font-weight: 500;
    /* height: 1.5rem; */

    svg {
      height: 1rem;
      width: unset;
      margin-left: .25rem;
    }
  }

  .button-outline {
    color: $anil;
    border-color: $anil;

    &:hover {
      color: $white;
    }
  }
}

.nav-roleselector-menu {
  user-select: none;

  .MuiPaper-elevation {
    transform: translate(0, .5rem) !important;

    ul {
      padding: 0;

      .nav-roleselector-menutitle {
        background-color: rgba($primary, .75);
        color: $white;
        padding: .5rem 1rem;
        font-size: .875rem;
      }

      li {
        padding: .5rem 1rem;
        font-size: .875rem;

        &:focus {
          background: unset;
        }

        &:hover {
          background: $light-gray;
        }
      }
    }

  }
}

.nav-notifications {
  margin-right: 1rem;

  .nav-notifications-btn {
    position: relative;
    display: flex;
    cursor: pointer;
    height: 1.5rem;
    align-items: center;

    svg {
      height: 1.25rem;
      width: unset;
      transition: .25s ease;
      stroke: $white;
    }

    .nav-notifications-badge {
      text-align: center;
      color: $primary;
      font-size: .875rem;
      font-weight: 500;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      opacity: 0;
    }

    &.active {

      .nav-notifications-badge {
        opacity: 1;
      }

      svg {
        stroke: $primary;
      }
    }
  }
}

.nav-notifications-menu {
  user-select: none;

  .MuiPaper-elevation {
    transform: translate(calc(-50% + .75rem), .5rem) !important;
    min-width: 200px;

    ul {
      padding: 0;

      .nav-notifications-menutitle {
        background-color: rgba($primary, .75);
        color: $white;
        padding: .5rem 1rem;
        font-size: .875rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          height: .875rem;
          width: unset;
          stroke: $white;
          margin-right: .25rem;
        }
      }

      li {
        padding: .5rem 1rem;
        font-size: .875rem;

        &:focus {
          background: unset;
        }

        &:hover {
          background: $light-gray;
        }

        &.empty {
          justify-content: center;
          pointer-events: none;
        }
      }
    }

  }
}

.nav-profile {
  .nav-profile-btn {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: $gray;
    cursor: pointer;

    .nav-profile-img {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      margin-right: .5rem;
    }

    svg {
      height: 1rem;
      width: unset;
      margin-left: .25rem;
    }
  }
}

.nav-profile-menu {
  user-select: none;

  .MuiPaper-elevation {
    transform: translate(0, .5rem) !important;

    ul {
      padding: 0;

      li {
        padding: .5rem 1rem;
        font-size: .875rem;

        &:focus {
          background: unset;
        }

        &:hover {
          background: $light-gray;
        }
      }
    }

  }

  .version-number {
    width: 100%;
    text-align: center;
    opacity: 0.5;
    border-top: solid 1px rgb(0, 0, 0, 0.2);
  }
}

.nav-roleselector .nav-roleselector-btn {
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  color: #fff;
  font-weight: 500;
  padding: 8px 40px;
  background-color: $azul;
  font-style: italic;
}

.nav-center-new {
  display: flex;
  align-items: center;

  .nav-menu-new {
    display: flex;
    gap: 5px;

    button {
      border-color: $anil;
      color: $anil;
    }

    button:hover {
      color: $white;
    }

    .active button {
      color: $white;
      background: $secondary;
      border: 1px solid $secondary;
    }
  }
}