@use '../../sass/theme/app_variables' as *;

.item {
    background: none;
    border: none;
    cursor: pointer;

    &:disabled {
        color: $primary;
    }
    &:not(:disabled) {
        color: #ccc;
    }
}