@use '../../sass/theme/app_variables' as *;

$color_1: #8c52ff;
$color_2: #cb6ce6;
$color_3: #2d8bba;
$color_4: #5ce1e6;
$color_5: #f9ad23;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $indigo;
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: $small-font;

    .width-limiter {
        max-width: 991px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }

    .page_title {
        font-size: $big-font;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .cada {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 5px;

        .ball {
            width: 20px;
            height: 20px;
            background-color: $indigo;
            border-radius: 50%;

            /* perspectivas */
            &.color_1 { background-color: $color_1; }
            &.color_2 { background-color: $color_2; }
            &.color_3 { background-color: $color_3; }
            &.color_4 { background-color: $color_4; }
            &.color_5 { background-color: $color_5; }
        }

        .tag {
            border: solid 1px;
            border-radius: 15px;
            font-weight: bold;
            padding: 2px 15px;

            /* perspectivas */
            &.color_1 { border-color: $color_1; }
            &.color_2 { border-color: $color_1; }
            &.color_3 { border-color: $color_3; }
            &.color_4 { border-color: $color_4; }
            &.color_5 { border-color: $color_5; }
        }

        .title {
            &:hover {
                color: $anil;
                text-decoration: underline;
            }
        }
    }
}