@import '../../app';


// PPPZCM
.about-pppzcm {
  display: flex;
  column-gap: 3rem;

  img {
    width: 40%;
    object-fit: contain;
  }
}
@media screen and (max-width: 991px) {
  .about-pppzcm {
    flex-direction: column;
    row-gap: 3rem;
  
    img {
      width: 100% !important;
    }
  }
}
.como-pppzcm {
  padding: 2rem;
  background: $green-2;
  border-radius: $border-radius-medium;
  box-shadow: $shadow-1;
}
#mapa {
  padding: 0;

  .map-header {
    padding: 5rem 2rem 2.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .map-stats {
      display: flex;
      column-gap: 1rem;

      .stat {
        border-radius: $border-radius-medium;
        background-color: $green-2;
        padding: 1.5rem 3rem;
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
        text-align: center;

        .title {
          font-size: .875rem;
          font-weight: 600;
        }
        .number {
          font-size: 2rem;
          font-weight: 700;
        }
      }
    }
  }
  .map-canvas {
    width: 100%;
    height: 100vh;
    background: $black;
  }
}
@media screen and (max-width: 991px) {
  #mapa {
  
    .map-header {
      flex-direction: column;
      row-gap: 1rem;
    }
  }
}
#processos {
  background: $green-2;
}