@import '../../app';


// HOME
.pillars {
  display: flex;
  column-gap: 2rem;

  .pillar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-weight: 700;
    color: $white;
    border-radius: $border-radius-medium;
    width: 25%;
    min-height: 8rem;
    text-align: center;
    box-sizing: border-box;
    hyphens: auto;

    &:nth-child(odd) {
      background-color: $green-1;
    }

    &:nth-child(even) {
      background-color: $yellow-1;
    }
  }
}

@media screen and (max-width: 991px) {
  .pillars {
    flex-wrap: wrap;
    column-gap: 1rem !important;
    row-gap: 1rem;

    .pillar {
      width: calc(50% - .5rem) !important;
    }
  }
}

.about-anppea {
  display: flex;
  column-gap: 3rem;

  img {
    width: 25%;
    object-fit: contain;
  }
}

@media screen and (max-width: 991px) {
  .about-anppea {
    flex-direction: column;
    row-gap: 3rem;

    img {
      width: 100% !important;
    }
  }
}

.systems {
  display: flex;
  column-gap: 3rem;
  margin: 2rem 0;

  a {
    width: 50%;

    .system {
      display: flex;
      position: relative;
      color: $white;
      border-radius: $border-radius-medium;
      min-height: 20rem;
      overflow: hidden;

      &:hover {
        img {
          transform: scale(1.05);
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .5s ease;
      }

      .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background: linear-gradient(transparent, $black);
        opacity: 1;
      }

      .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
        box-sizing: border-box;
        flex-direction: column;
        row-gap: 1rem;


        .title {
          font-weight: 700;
          font-size: 1.25rem;
          display: flex;
          align-items: center;
          column-gap: 1rem;

          .icon {
            svg {
              height: 1.5rem;
              width: 1.5rem;
            }
          }
        }

        .subtitle {
          font-size: 1rem;
        }
      }

    }

  }
}

@media screen and (max-width: 991px) {
  .systems {
    flex-direction: column;
    row-gap: 1rem;

    a {
      width: 100% !important;
    }
  }
}

#mapa {
  padding: 0;

  .map-header {
    padding: 5rem 2rem 2.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .map-stats {
      display: flex;
      column-gap: 1rem;

      .stat {
        border-radius: $border-radius-medium;
        background-color: $green-2;
        padding: 1.5rem 3rem;
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
        text-align: center;

        .title {
          font-size: .875rem;
          font-weight: 600;
        }

        .number {
          font-size: 2rem;
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  #mapa {

    .map-header {
      flex-direction: column;
      row-gap: 1rem;
    }
  }
}

#processos {
  background: $green-2;
}