.checklist {
    border: solid 1px rgb(115 191 72 / 28%);
    border-radius: 5px;
    padding: 0 11px;

    label {
        font-size: 0.8rem;
        top: -10px;
        background-color: #fff;
        color: #666666;
    }
}