.commission_list {
    li.commission {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .actions {
            display: flex;
            gap: 5px;
            background: #fff;
        }

        margin: 8px 0;

        background-color: #fafafa;
        &:nth-child(even) {
            background-color: #f3f3f3;
        }

        .sent {
            padding: 0 1rem;
            height: 2rem;
            font-size: 0.875rem;
            font-weight: 500;
            box-sizing: border-box;
            background: #ddd;
            color: #666666;
            cursor: pointer;
            font-family: "Poppins", sans-serif !important;
            transition: 0.5s ease;
            display: flex;
            align-items: center;
        }
    }
}