@use '../../sass/theme/app_variables' as *;

.flow {
  .flow-new {
    background: $white;
    border-radius: .5rem;
    box-shadow: $shadow-1;
    overflow: hidden;
    position: relative;
    z-index: 1;

    textarea {
      width: calc(100% - 2rem);
      border: 0;
      outline: 0;
      font-size: 1rem;
      line-height: 1.5rem;
      padding-right: 8rem;
      margin: .75rem 1rem 3rem 1rem;
      min-height: 9rem;
      overflow: auto;
      resize: none;
      font-family: $font-family;
    }

    button {
      position: absolute;
      right: 1rem;
      bottom: .75rem;
    }
  }

  .flow-line {
    width: 2px;
    height: calc(100% - 1rem);
    position: absolute;
    left: 3rem;
    top: 0;
    background: rgba($primary, .5);
  }
}