@import '../../app';


// HOME
.portals {
  display: flex;
  column-gap: 2rem;

  .portal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-weight: 700;
    color: $white;
    border-radius: $border-radius-medium;
    width: 50%;
    min-height: 8rem;
    text-align: center;
    box-sizing: border-box;
    hyphens: auto;
    cursor: pointer;

    &:nth-child(odd) {
      background-color: $orange-1;
    }
    &:nth-child(even) {
      background-color: $blue-1;
    }
  }
}
@media screen and (max-width: 991px) {
  .portals {
    flex-wrap: wrap;
    column-gap: 1rem !important;
    row-gap: 1rem;

    .portal {
      width: calc(50% - .5rem) !important;
    }
  }
}