@use '../../sass/theme/app_variables' as *;

.uploader-wrapper:not(.minimal) {
  position: relative;
  width: 100%;
}

.uploader-wrapper.minimal {
  max-width: 100px;
  max-height: 10px;
  position: relative;
}

.uploader-title {
  position: absolute;
  /* transform: translate(0, -0.8rem) scale(0.75); */
  font-size: 0.8rem;
  margin: -10px 10px;
  background-color: #FFFFFF;
  padding: 0 0.5rem;
  display: inline-block;
  background: rgba(255, 255, 255);
  border: none;
  border-radius: 10px;
  z-index: 1000;

  &.disabled {
    color: rgba(0, 0, 0, 0.38);
  }
  &.error {
    color: #d32f2f;
  }
}

.drop_zone {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: rgba($primary, 0.05) !important;
  border: none !important;
  border-radius: $border-radius-1;
  position: relative;
  overflow: hidden;
  line-height: 2.5;

  &:hover {
    border: 1px solid rgba($primary, .25) !important;
  }

  &.disabled {
    border: 1px solid rgba($primary, .25) !important;
    color: rgba(0, 0, 0, 0.38);
  }

  &.error { border: 1px solid #d32f2f !important; }
}

.uploader-wrapper.minimal .drop_zone {
  padding: 20px 0 10px 0;
}

.uploader-wrapper.file {
  .drop_zone {
    height: unset;
    padding-bottom: unset;

    &:not(.file-no-image) {
      padding: 0 45px;
    }

    &.file-no-image {
      color: #999;
      padding: 0 10px;
    }
  }

  button.remove,
  button.viewer {
    margin-top: -22px;
  }
}

.drop_zone img.preview {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drop_zone.no-image {
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
}

.uploader-wrapper.minimal .drop_zone.no-image {
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

button.remove,
button.viewer {
  position: absolute;
  margin-top: -25px;
  background: rgb(255, 255, 255, 0.7);
  border: none;
  border-radius: 10px;
}

button.remove {
  right: 10px;
}

button.viewer {
  left: 10px;
}

button.remove img {
  padding: 4px 5px 2px 5px;
  width: 19px;
}

button.viewer img {
  padding: 2px 1px 1px 1px;
  width: 15px;
}

.uploader-warning {
  background-color: rgba(249, 198, 35, 0.1) !important;
  border: 1px solid transparent;
  border-color: #F9C623 !important;
}

.uploader-critical {
  background-color: rgba(219, 62, 11, 0.1) !important;
  border: 1px solid transparent;
  border-color: #DB3E0B !important;
}