@use '../../../sass/theme/app_variables' as *;

.uploader-wrapper:not(.minimal) {
  position: relative;
}

.uploader-wrapper.minimal {
  max-width: 100px;
  max-height: 10px;
  position: relative;
}

.drop_zone {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: rgba(228, 111, 42, 0.05);
  border-radius: $border-radius-1;
  position: relative;
  overflow: hidden;
}

.uploader-wrapper.minimal .drop_zone {
  padding: 20px 0 10px 0;
}

.uploader-wrapper.file {
  .drop_zone {
    height: unset;
    padding-bottom: unset;

    &:not(.file-no-image) {
      padding: 0 45px;
    }

    &.file-no-image {
      color: #999;
      padding: 0 10px;
    }
  }

  button.remove,
  button.viewer {
    margin-top: -22px;
  }
}

.drop_zone img.preview {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drop_zone.no-image {
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
}

.uploader-wrapper.minimal .drop_zone.no-image {
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

button.remove,
button.viewer {
  position: absolute;
  margin-top: -25px;
  background: rgb(255, 255, 255, 0.7);
  border: none;
  border-radius: 10px;
}

button.remove {
  right: 10px;
}

button.viewer {
  left: 10px;
}

button.remove img {
  padding: 4px 5px 2px 5px;
  width: 19px;
}

button.viewer img {
  padding: 2px 1px 1px 1px;
  width: 15px;
}