@import '../../app';


// NOVIDADE SINGLE
.info {
    display: flex;
    column-gap: 2rem;

   .info-item {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;

    .label {
        font-weight: 500;
    }
    .value {
        .pppzcm {
            background-color: $blue-1;
            padding: .25rem .5rem;
            font-size: 12px;
            color: $white;
            text-transform: uppercase;
            border-radius: $border-radius-small;
        }
        .ppea {
            background-color: $green-1;
            padding: .25rem .5rem;
            font-size: 12px;
            color: $white;
            text-transform: uppercase;
            border-radius: $border-radius-small;
        }
    }
   } 
}
#post-body {
    padding-top: 0;
}