.container {
  position: relative;
}

.map-container {
  flex-grow: 1 !important;
  z-index: 1;
  position: relative;
  height: 100vh;

  &>div {
    width: 100%;
    height: 100vh;
  }
}

.filter_panel {
  position: absolute;
  height: calc(100vh - 8rem);
  margin: 2rem;
  width: 24rem;
  background-color: #fff;
  z-index: 1;
  border-radius: .5rem;
  top: 0;

  /* .separator {
    display: block;
    width: 100%;
    height: 2px;
    color: $light-gray;
    background-color: $light-gray;
    margin: 1rem 0;
  }

  .custom_switch_filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // global override
  :global {

    .MuiSwitch-root {
      border-radius: $border-radius-2;
      padding: 0;
      width: 1.5rem;
      height: 1rem;

      .MuiSwitch-switchBase {
        padding: 2px;

        &.Mui-checked {
          left: -8px;
        }
      }

      .MuiSwitch-thumb {
        background-color: $white;
        width: .75rem;
        height: .75rem;
      }
    }
  } */
}