@import '../../app';

.accordeon {
  width: 100%;  
}

.accordeon-item {
  overflow: hidden;

  &:not(:last-child) {
    border-bottom: 1px solid $gray-2;

  }

  .accordeon-title {
    padding: 1rem;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    transition: .25s ease;
    
    .icon {
      transition: .25s ease;
    }

    &.open {
      color: $green-1;

      .icon {
        transform: rotate(180deg);

        svg {
          path, rect, circle {
            stroke: $green-1;
          }
        }
      }
    }
  }

  .accordeon-content {
    padding: 0 1rem 1rem 1rem;
    font-size: .875rem;
  }
}