.controls {
    display: flex;    
    justify-content: center;
    gap: 15px;

    div {
        cursor: pointer;
        border: solid 1px #ddd;
        border-radius: 3px;
        padding: 2px;

        &[disabled] {
            color: #ccc;
            cursor: default;
        }
        /* &:hover {
            background-color: #010;
        } */
    }

    svg {
        width: 20px;
    }
}