.container {
  position: relative;
}

.controls {
  padding: 16px;

  &>div {
    margin-bottom: 20px;
  }
}

.chooser {
  padding: 16px;

  &>div {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #f1f1f1; */
    padding: 8px 0;
  }

  .disabled {
    color: #aaa;
  }

  svg {
    cursor: pointer;
  }

  .disabled svg {
    stroke: #aaa;
  }
}

.projects {
  padding: 16px;

  table {
    width: 100%;
    border-collapse: collapse;

    tr:nth-child(even) {
      background-color: #F6FAF3;
    }

    th {
      padding: 16px;
      background-color: #599559;
      font-weight: normal;
      text-align: left;
      color: #fff;
    }

    .close-button {
      cursor: pointer;

      &:hover {
        color: #000;
      }
    }

    td {
      padding: 16px;
    }
  }
}

.map-container {
  flex-grow: 1 !important;
  z-index: 1;
  position: relative;
  height: 100vh;

  &>div {
    width: 100%;
    height: 100vh;
  }
}

.projects_panel {
  position: absolute;
  margin: 2rem;
  width: 48rem;
  background-color: #fff;
  z-index: 1;
  border-radius: .5rem;
  top: 0;
  right: 10px;
}

.filter_panel {
  position: absolute;
  height: calc(100vh - 20rem);
  margin: 2rem;
  width: 24rem;
  background-color: #fff;
  z-index: 1;
  border-radius: .5rem;
  top: 0;
}

.pagination>li>a,
.pagination>li>span {
  color: #47ccde;
}

.disabled-previous {
  display: none !important;
  padding: 8px 16px;
  display: inline-block;
}

.disabled-next {
  display: none !important;
}

@media (max-width: 840px) {
  .disabled-mobile {
    display: none !important;
  }
}

/* .pagination>.active,
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #E6F6FF;
    border-color: #2C9AD9;
}

.page-link:focus {
    box-shadow: none;
    background-color: red !important;
}

.page-link {
    border-radius: 4px;
    margin-left: 2px;
}

.pagination {
    justify-content: right;
    margin-top: 20px;
    list-style-type: none;
} */

.paginator {
  display: flex;
  gap: 10px;
  justify-content: right;
  padding: 16px;

  svg {
    width: 15px;
  }

  &>div:not(.disabled) {
    cursor: pointer;
  }

  .disabled {
    svg {
      stroke: #aaa;
    }
  }

}

.project-buttons {
  display: flex;
  gap: 10px;
  &>div {
    cursor: pointer;
  }
}