@import '../../app';


// PROJETO SINGLE
#banner-projeto {
    .content {
        color: $white;

        .line-1 {
            display: flex;
            column-gap: 1rem;
            align-items: center;
        }
        .line-2 {
            display: flex;
            column-gap: 1rem;
            align-items: center;

            .btn-link {
                color: $white;

                &:hover {
                    opacity: .5;
                }

                .icon {
                    svg {
                        path, rect, circle {
                            stroke: $white;
                        }
                    }
                }
            }
        }
    }
}
.project-body {
    display: flex;
    column-gap: 2rem;

    .content {
        width: 50%;

        b {
            color: $blue-1;
        }
    }

    .project-info {
        display: flex;
        column-gap: 2rem;
        flex-direction: column;
        row-gap: 1rem;
        column-gap: 1rem;
        width: 50%;
    
        .row {
            display: flex;
            row-gap: 1rem;
            column-gap: 1rem;
    
            .info-item {
                display: flex;
                flex-direction: column;
                row-gap: .5rem;
                background: $green-2;
                padding: 1rem;
                border-radius: $border-radius-medium;
                flex-grow: 1;
                width: 50%;
    
                .label {
                    font-weight: 500;
                    color: $blue-1;
                    display: flex;
                    column-gap: .5rem;
                    align-items: center;
                }
                .value {
                    .pppzcm {
                        background-color: $blue-1;
                        padding: .25rem .5rem;
                        font-size: 12px;
                        color: $white;
                        text-transform: uppercase;
                        border-radius: $border-radius-small;
                    }
                    .ppea {
                        background-color: $green-1;
                        padding: .25rem .5rem;
                        font-size: 12px;
                        color: $white;
                        text-transform: uppercase;
                        border-radius: $border-radius-small;
                    }
                }
               } 
            
        }
    }
    
}
@media screen and (max-width: 991px) {
    .project-body {
        flex-direction: column;
        row-gap: 2rem;

        .content, .project-info {
            width: 100%;
        }
    }
}