.field-wrap {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
}

.field-wrap input, .field-wrap textarea {
    width: 100%;
    flex-grow: 1;
    border-radius: 3px;
    border: solid 1px #ccc;
    padding: 5px 10px;
    resize: none;
}

label {
    margin-right: 20px;
    width: 110px;
}